body {
    margin: 0;
}
.info {
    width: 100%; background: lightblue; padding: 2pt 4pt 2pt 4pt ; margin: 4pt 0; font-family: Verdana,serif
}

/* ********************************************** */
#variables {
    width: 16.6%; display: table-cell; background: darkgray;
}
table.variables {
    width: 100%;
    height: 100%;
    font-family: monospace;
    font-size: 1.44em;
}
table.variables tr {
    background: lightgray;
}
table.variables td {
    padding: 0 4pt;
}

/* ********************************************** */
div.code {
    vertical-align: top;
    font-family: monospace;
    font-size: 1.44em;
}

div.active {
    background-color: #c0c0e0;
}

.bordered {
    border: solid 1px gray;
}

.keyword {
    font-weight: bold;
    color: darkblue;
}

.number {
    font-weight: bold;
    color: darkred;
    white-space: pre;
}

.char {
    font-weight: bold;
    color: royalblue;
}

.string {
    font-weight: bold;
    color: dodgerblue;
}

.variable {
    font-weight: bold;
}

.comment {
    font-style: italic;
    background: aliceblue;
    color: dimgray;
}

.filler {
    background: darkseagreen;
    display: block;
    border-bottom: 1px dotted blue;
    overflow: auto;
    position: relative;
}

.indent {
    float: left;
}

/*****************************************/
.data-r {
    background: lightgreen;
}
.data-w {
    background: mistyrose;
}
.data-rw {
    background: lightgoldenrodyellow;
}

/*****************************************/
.listview {
    font-family: monospace;
    border-collapse: collapse;
}

.listview-pointers {
    font-size: 1.44em;
    text-align: right;
}

.listview-index {
    font-size: 1.44em;
    color: lightslategray;
    padding-left: 1ex;
    padding-right: 1ex;
}

.listview-value {
    font-size: 1.44em;
    font-weight: bold;
    color: darkred;
    border: solid 1px grey;
    padding-left: 1ex;
    padding-right: 1ex;
}

.pointer {
    font-weight: bold;
    border: solid 1px grey;
    padding-left: 1ex;
    padding-right: 1ex;
    margin: 1px;
}
