body {
    margin: 0;
}

#variables {
    width: 25%;
    display: table-cell;
    background: darkgray;
}

#info {
    background: lightblue;
    padding: 0 2pt;
    font-family: Verdana, serif;
    float: bottom;
}

/* ********************************************** */
.block.collapsed div.comment {
    color: white;
    background-color: darkgray;
}
.block.collapsed div.block-body {
    display: none;
}

div.code {
    vertical-align: top;
    font-family: monospace;
    font-size: 1.44em;
}

div.active {
    background-color: #c0c0e0;
}

.bordered {
    border: solid 1px gray;
}

.keyword {
    font-weight: bold;
    color: darkblue;
}

.number {
    font-weight: bold;
    color: darkred;
    white-space: pre;
}

.char {
    font-weight: bold;
    color: royalblue;
}

.string {
    font-weight: bold;
    color: dodgerblue;
}

.variable {
    font-weight: bold;
}

.comment {
    font-style: italic;
    color: dimgray;
}
.line-comment {
    font-style: italic;
    color: dimgray;
}

.filler {
    background: darkseagreen;
    display: block;
    border-bottom: 1px dotted blue;
    overflow: auto;
    position: relative;
}

.indent {
    float: left;
}

/*****************************************/
td.data-r {
    background: white;
}
.data-r {
    background: white;
}

td.data-w {
    background: yellow;
}
.data-w {
    background: yellow;
}

td.data-r.data-w {
    background: gold;
}
.data-r.data-w {
    background: gold;
}

/*****************************************/
table {
    font-family: monospace;
}

table.variables {
    font-size: 1.44em;
    width: 100%;
    height: 100%;
}

table.variables tr {
    background: lightgray;
}

table.variables td {
}

table.listview {
    font-size: 1em;
    border-collapse: collapse;
    margin: 2pt;
}

.listview-pointers {
    text-align: right;
}

.listview-index {
    color: lightslategray;
    padding-left: 1ex;
    padding-right: 1ex;
}

.listview-value {
    padding: 0 4pt;
    font-weight: bold;
    border: solid 1px grey;
}
.listview-floating-var {
    background: #e0e0e0;
}
.listview-value-matched-var {
    background: rgba(255, 255, 255, 0.3);
}
.listview-index-matched-pointer {
    border: solid 1px gray;
}
.listview-value-matched-pointer {
    background: rgba(255, 255, 255, 0.3);
}

.pointer {
    font-weight: bold;
    border: solid 1px royalblue;
    padding-left: 1ex;
    padding-right: 1ex;
    margin: 1px;
}
.floating-var {
    display: block;
    text-align: center;
    font-weight: bold;
    padding-left: 1ex;
    padding-right: 1ex;
}

.name {
    width: 25%;
}

.value {
    font-weight: bold;
}
